@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

/*
Checked items:
- nth-child
- flex
- opacity
- rgba
- calc
- rem
- transition
- animations

TOOLS:
https://github.com/postcss/autoprefixer
https://github.com/postcss/postcss
https://github.com/jonathantneal/flexibility
https://github.com/7rulnik/postcss-flexibility

TODO:
- media queries
*/

body {
    background: #ddd;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 200;
    transition: all 400ms;

    h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 30px;
        font-weight: 400;
    }
}

.flex {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: line;

    &__item {
        flex: 1;
        text-align: center;
        padding: 15px;
        background: #aaaaee;
        color: #fff;

        &:nth-child(3) {
            flex: 3;
            background: #ff5555;
        }

        &:first-child {
            opacity: .5;
        }
    }
}

.media {
    &__item {
        display: inline-block;
        margin: 20px auto;
        background: #eeaaaa;
        padding: 10px;
        width: 80%;

        @media( min-width: 768px) {
            width: 40%;
        }

        @media( min-width: 1024px) {
            width: 20%;
        }
    }
}

.anim {
    height: 20px;
    margin: 2rem auto;
    width: calc(100% - 40px);
    background-color: rgba(255, 0, 0, .5);
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {background-color: rgba(255, 0, 0, .5);}
    to {background-color: rgba(0, 255, 0, .5);}
}
