@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

body {
    background: #ddd;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 200;

    h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 30px;
        font-weight: 400;
    }
}

.flex {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: line;

    &__item {
        flex: 1;
        text-align: center;
        padding: 15px;
        background: #aaaaee;
        color: #fff;

        &:nth-child(2) {
            flex: 3;
            background: #ff5555;
        }

        &:last-child {
            opacity: .5;
        }
    }
}
